In [1]:
import os 
import requests   #to get the webpage
import json       #to convert API to json format 
from urllib.parse import urlencode 
import numpy as np
import pandas as pd
import re

In [2]:
test_city = "New Delhi"
location_url = "https://locator-service.api.bbci.co.uk/locations?" + urlencode({
    "api_key" : "AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv",
    "s" : test_city,
    "stack":"aws",
    "locale":"en",
    "filter":"international",
    "place-types":"settlement,airport,district",
    "order":"importance",
    "a":"true",
    "format":"json"
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=New+Delhi&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&a=true&format=json'

In [3]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'id': '1261481',
     'name': 'New Delhi',
     'container': 'India',
     'containerId': 1269750,
     'language': 'en',
     'timezone': 'Asia/Kolkata',
     'country': 'IN',
     'latitude': 28.63576,
     'longitude': 77.22445,
     'placeType': 'settlement'}],
   'totalResults': 1}}}

In [4]:
# print location id 
result["response"]["results"]["results"][0]["id"]

'1261481'

# Creating a function to output location id by taking any city name as input

In [6]:
def getlocid(city):
  city = city.lower()  # convert city name to lowercase 
  # #convert into an API call using URL encoding 
  location_url = "https://locator-service.api.bbci.co.uk/locations?" + urlencode({
    "api_key" : "AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv",
    "s" : city,
    "stack":"aws",
    "locale":"en",
    "filter":"international",
    "place-types":"settlement,airport,district",
    "order":"importance",
    "a":"true",
    "format":"json"
  })
  result = requests.get(location_url).json()
  locid = result['response']['results']['results'][0]['id']
  return locid

In [7]:
getlocid('Abu Dhabi')

'292968'

In [8]:
getlocid('Toronto')

'6167865'

In [9]:
from bs4 import BeautifulSoup as bs
from datetime import datetime

In [10]:
url = "https://www.bbc.com/weather/" + getlocid("Mumbai")
url

'https://www.bbc.com/weather/1275339'

In [11]:
response = requests.get(url)
response

In [12]:
import bs4
soup = bs(response.content, "html.parser")

In [13]:
daily_high_values = soup.find_all('span', attrs = {'class':'wr-day-temperature__high-value'})
daily_high_values

[<span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">84°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">29°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">85°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">86°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">30°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">87°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">89°</span></span></span>]

In [14]:
daily_low_values = soup.find_all('span', attrs = {'class':'wr-day-temperature__low-value'})
daily_low_values

[<span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">24°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">75°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>]

In [15]:
daily_summary = soup.find('div', attrs = {'class': 'wr-day-summary'})
daily_summary.text

'Drizzle and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a moderate breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breeze'

In [16]:
daily_high_values[0].text.strip()

'30° 86°'

In [17]:
daily_high_values[9].text.strip().split()[1]

'87°'

In [18]:
daily_high_values_list = [i.text.strip().split()[0] for i in daily_high_values]
daily_high_values_list

['30°',
 '29°',
 '29°',
 '29°',
 '30°',
 '31°',
 '31°',
 '31°',
 '31°',
 '30°',
 '31°',
 '30°',
 '31°',
 '31°']

In [19]:
daily_low_values_list = [i.text.strip().split()[0] for i in daily_low_values]
daily_low_values_list

['24°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°']

In [20]:
daily_summary.text

'Drizzle and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a moderate breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a moderate breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breeze'

In [21]:
daily_summary_list = re.findall('[a-zA-Z][^A-Z]*', daily_summary.text)
daily_summary_list

['Drizzle and a gentle breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a moderate breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a gentle breeze',
 'Light cloud and a gentle breeze']

In [22]:
datelist = pd.date_range(datetime.today(), periods = len(daily_summary_list)).tolist()
datelist

[Timestamp('2022-08-20 09:07:10.781771', freq='D'),
 Timestamp('2022-08-21 09:07:10.781771', freq='D'),
 Timestamp('2022-08-22 09:07:10.781771', freq='D'),
 Timestamp('2022-08-23 09:07:10.781771', freq='D'),
 Timestamp('2022-08-24 09:07:10.781771', freq='D'),
 Timestamp('2022-08-25 09:07:10.781771', freq='D'),
 Timestamp('2022-08-26 09:07:10.781771', freq='D'),
 Timestamp('2022-08-27 09:07:10.781771', freq='D'),
 Timestamp('2022-08-28 09:07:10.781771', freq='D'),
 Timestamp('2022-08-29 09:07:10.781771', freq='D'),
 Timestamp('2022-08-30 09:07:10.781771', freq='D'),
 Timestamp('2022-08-31 09:07:10.781771', freq='D'),
 Timestamp('2022-09-01 09:07:10.781771', freq='D'),
 Timestamp('2022-09-02 09:07:10.781771', freq='D')]

In [23]:
datelist = [i.date().strftime('%y-%m-%d') for i in datelist]
datelist

['22-08-20',
 '22-08-21',
 '22-08-22',
 '22-08-23',
 '22-08-24',
 '22-08-25',
 '22-08-26',
 '22-08-27',
 '22-08-28',
 '22-08-29',
 '22-08-30',
 '22-08-31',
 '22-09-01',
 '22-09-02']

In [24]:
zipped = zip(datelist,daily_high_values_list, daily_low_values_list, daily_summary_list)
zipped

In [25]:
df = pd.DataFrame(list(zipped), columns = ["Date", "High", "Low", "Summary"])
df

        Date High  Low                            Summary
0   22-08-20  30°  24°        Drizzle and a gentle breeze
1   22-08-21  29°  25°    Light cloud and a gentle breeze
2   22-08-22  29°  25°    Light cloud and a gentle breeze
3   22-08-23  29°  25°  Light cloud and a moderate breeze
4   22-08-24  30°  25°    Light cloud and a gentle breeze
5   22-08-25  31°  25°    Light cloud and a gentle breeze
6   22-08-26  31°  25°  Light cloud and a moderate breeze
7   22-08-27  31°  25°  Light cloud and a moderate breeze
8   22-08-28  31°  25°  Light cloud and a moderate breeze
9   22-08-29  30°  25°    Light cloud and a gentle breeze
10  22-08-30  31°  25°    Light cloud and a gentle breeze
11  22-08-31  30°  25°    Light cloud and a gentle breeze
12  22-09-01  31°  25°    Light cloud and a gentle breeze
13  22-09-02  31°  25°    Light cloud and a gentle breeze

In [26]:
df.High = df.High.replace('\°', '', regex = True).astype(float)
df.Low = df.Low.replace('\°', '', regex = True).astype(float)

In [27]:
display(df)

        Date  High   Low                            Summary
0   22-08-20  30.0  24.0        Drizzle and a gentle breeze
1   22-08-21  29.0  25.0    Light cloud and a gentle breeze
2   22-08-22  29.0  25.0    Light cloud and a gentle breeze
3   22-08-23  29.0  25.0  Light cloud and a moderate breeze
4   22-08-24  30.0  25.0    Light cloud and a gentle breeze
5   22-08-25  31.0  25.0    Light cloud and a gentle breeze
6   22-08-26  31.0  25.0  Light cloud and a moderate breeze
7   22-08-27  31.0  25.0  Light cloud and a moderate breeze
8   22-08-28  31.0  25.0  Light cloud and a moderate breeze
9   22-08-29  30.0  25.0    Light cloud and a gentle breeze
10  22-08-30  31.0  25.0    Light cloud and a gentle breeze
11  22-08-31  30.0  25.0    Light cloud and a gentle breeze
12  22-09-01  31.0  25.0    Light cloud and a gentle breeze
13  22-09-02  31.0  25.0    Light cloud and a gentle breeze

In [28]:
location = soup.find('h1', attrs = {'id': 'wr-location-name-id'})
location = location.text.split()

In [29]:
location

['Mumbai', '-', 'Weather', 'warnings', 'issued']

In [30]:
filename_csv = location[0]+'.csv'
df.to_csv(filename_csv, index = None)

In [31]:
filename_xlsx = location[0]+'.xlsx'
df.to_excel(filename_xlsx)

ModuleNotFoundError: No module named 'openpyxl'